h1,h2,h3,h4,h5,h6,p{
    color: white;
    text-align: justify;
}
/* NavBar */

#top_nav{
    background-color: #0b0b0b;
    padding:10px 5%;

}
#top_nav li{
    width: 100px;
    /* padding-left: 10px; */
}

#top_nav img{
    height: 50px;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(255 255 255);
    font-size: 18px;
    text-transform: uppercase;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: #f64b3c;
}

#searchbox{
    background-color: #1d1d1d;
    border-radius: 0;
    border-right: 0;
    color: white;
}
#searchbox::placeholder{

    color: white;
}
#searchbtn
{
    background-color: #f64b3c;
    color: white;
    border-radius: 0;
    outline-color:#f64b3c ;   
     position: relative;
    left: -8px;
}
@media only screen and (max-width:1060px) {
    #top_nav
    {
        padding: 5px 5%;
    }
    
}
@media only screen and (max-width:991px) {
    #top_nav
    {
        padding:2% 5%;
    }
    #searchform
    {
        padding-bottom: 1%;
    }
    
}

/* Banner */
#banner
{
    padding: 10% 0 5% 10%;
    background-image: url('/images/hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
}
#banner-text h1{
    font-size: 70px;
}
#banner-text h1>span{
    color: #f64b3c;
    font-weight: bold;
}
#banner-text p{
    font-size: 15px;
    margin-top:15px;
    line-height: 2;
}
#btn-order
{
    background-color: #f64b3c;
    color: white;
    border: 1px solid #f64b3c;
    width: 150px;
    border-radius: 45px;
}
@media only screen and (max-width:1205px)
{
    #banner-text h1{
        font-size: 60px;
    }
    #banner-text p{
        font-size: 10px;
        margin-top:10px;

    }
}
@media only screen and (max-width:1189px)
{
    #banner-text h1{
        font-size: 66px;
    }
    #banner-text p{
        font-size: 10px;
        margin-top:10px;
    }
}
@media only screen and (max-width:1149px)
{
    #banner-text h1{
        font-size: 65px;
    }
    #banner-text p{
        font-size: 10px;
        margin-top:10px;

    }
}
@media only screen and (max-width:935px)
{
    #banner-text h1{
        font-size: 60px;
    }
    #banner-text p{
        font-size: 10px;
        margin-top:10px;
 
    }
}
@media only screen and (max-width:846px)
{
    #banner-text h1{
        font-size: 50px;
    }
    #banner-text p{
        font-size: 10px;
        margin-top:10px;
 
    }
}